h1 {
    color: blue;
    text-align: center;
}
h2 {
    color: red;
    font-family: sans-serif;
    text-align: center;
}
p {
    font-family: sans-serif;
}
ul {
    line-height: 22px;
}
.line1 {
    color: red;
  }
  #line2 {
      color: red;
  }
.Buy {
    color: saddlebrown;
}
  strong{
      color: blueviolet;
      text-align: center;
  }
  .danger {
    background-color: rgb(114, 128, 250);
  }
  img {
      float: left;
  }
  .sidebar {
      float: right;
      width: 30%;
      background-color: yellow;
  }
  .sidebar{
        border-left: 2px solid red;
        border-right: 4px solid blue;
        border-top: 6px solid orange;
        border-bottom: 8px solid black;
  }